@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json


@inject CartService _cartservice;

@{
    var cart = _cartservice.GetCartItems();
        if(cart.Count>0)
   {
            <div class="nav-item"><a asp-route="cart"><i class="fa-solid fa-cart-shopping"></i>(@cart.Count)</a></div>
   }
   
         
    }
