<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
    Manage
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" asp-action="Index" asp-area="Database" asp-controller="DbManage">database</a></li>
   
  </ul>
</div>