@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService

@{
  var result = await authorizationService.AuthorizeAsync(this.User,"ViewManageMenu");
}
@if(result.Succeeded){
<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
    Manage
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li><a class="dropdown-item" asp-action="Index" asp-area="Database" asp-controller="DbManage">database</a></li>
    <li><a class="dropdown-item" asp-action="Index" asp-area="Contact" asp-controller="Contact">quản lý liên hệ</a></li>
    <li><a class="dropdown-item" asp-action="Index" asp-area="Identity" asp-controller="Role">quản lý role (vai trò)</a></li>
    <li><a class="dropdown-item" asp-action="Index" asp-area="Identity" asp-controller="User">quản lý thành viên</a></li>
     <li><a class="dropdown-item" asp-action="Index" asp-area="Blog" asp-controller="Category">quản lý chuyên mục blog</a></li>
      <li><a class="dropdown-item" asp-action="Index" asp-area="Blog" asp-controller="Post">quản lý bài viết blog</a></li>
   
  </ul>
</div>
}