.app-navbar{
    background-color: rgba(66, 28, 168, 0.8);
    .text-dark {
      color : rgb(150, 5, 5) !important;
      &:hover {
        color : white !important
      }
    }
    .navbar-brand{
      color :rgb(36, 5, 150) !important;
      &:hover {
        color : white !important
      }
    }
    .dropdown-toggle {
      border-color: rgb(14, 85, 14) !important;
    }
    
    
  }
.manage-drop {
  background-color: red;
}
.categorysidebar{
  ul,li {
    list-style: none;
    padding-left: 10px;
  }
  a{
    text-decoration: none;
    &:hover{
      color: rgb(131, 11, 11);
    }
    &.active{
      color : red;
    }
  }
  >ul>li>a{
    font-weight: bold;
  }
  h4{
    text-transform: uppercase;
    font-size: 1.3em;
    border-bottom: 1px solid blue;
    padding-bottom: 10px;
  }
}