@{
    ViewData["Title"] = "Home Page";
    
}
<partial name = "_AlertMessage"/>
<div class ="w-100  p-0 m-0">
    <img class = "w-100 p-0 m-0" src="https://www.testcenter.vn/blog/wp-content/uploads/2021/07/cats.jpg" alt="">
</div>