@{
    ViewData["Title"] = "xóa db";
}
<h1>@ViewData["Title"]</h1>
<p class = "alert alert-danger" > có chắc chắn xóa</p>
<form method="post">
    <button type="submit" class = "btn btn-danger">xóa db</button>
    <a asp-action="Index">quản lý</a>
</form>