html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
  background-color: white;
  color: black;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.app-navbar {
  background-color: rgba(0, 0, 0, 0.8);
}
.app-navbar .text-dark {
  color: rgb(150, 5, 5) !important;
}
.app-navbar .text-dark:hover {
  color: white !important;
}
.app-navbar .navbar-brand {
  color: rgb(36, 5, 150) !important;
}
.app-navbar .navbar-brand:hover {
  color: white !important;
}
.app-navbar .dropdown-toggle {
  border-color: green !important;
}

.contact-firstcol {
  background-color: blue;
  color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.contact-firstcol h4 {
  line-height: 40px;
  font-weight: 400;
  margin-top: 20px;
}
.contact-firstcol img {
  padding: auto;
  width: 100px;
}

.formcontact label {
  font-weight: 700;
}
.formcontact .btn-primary {
  background-color: rgb(255, 0, 64) !important;
}