html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
  background-color: white;
  color: black;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.app-navbar {
  background-color: rgba(66, 28, 168, 0.8);
}
.app-navbar .text-dark {
  color: rgb(150, 5, 5) !important;
}
.app-navbar .text-dark:hover {
  color: white !important;
}
.app-navbar .navbar-brand {
  color: rgb(36, 5, 150) !important;
}
.app-navbar .navbar-brand:hover {
  color: white !important;
}
.app-navbar .dropdown-toggle {
  border-color: rgb(14, 85, 14) !important;
}

.manage-drop {
  background-color: red;
}

.categorysidebar ul, .categorysidebar li {
  list-style: none;
  padding-left: 10px;
}
.categorysidebar a {
  text-decoration: none;
}
.categorysidebar a:hover {
  color: rgb(131, 11, 11);
}
.categorysidebar a.active {
  color: red;
}
.categorysidebar > ul > li > a {
  font-weight: bold;
}
.categorysidebar h4 {
  text-transform: uppercase;
  font-size: 1.3em;
  border-bottom: 1px solid blue;
  padding-bottom: 10px;
}

.contact-firstcol {
  background-color: rgb(89, 5, 105);
  color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.contact-firstcol h4 {
  line-height: 40px;
  font-weight: 400;
  margin-top: 20px;
}
.contact-firstcol img {
  padding: auto;
  width: 100px;
}

.formcontact label {
  font-weight: 700;
}
.formcontact .btn-primary {
  background-color: rgb(255, 0, 64) !important;
}

.nav-item {
  color: white m !important;
}

.app-footer {
  background-color: rgb(8, 1, 1);
  color: white;
  text-align: center;
}